/* overwrites */
h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 5px;
}

img {
	width: 100%;
}

a {
	color: #999;
	text-decoration: none;
	border-bottom: none;
}

a:hover {
	color: #444;
	text-decoration: none;
	transition: color .3s ease;
}

.row {
	position: relative;
}

.clear_all {
	clear: both;
}

/* flip styles */
.flip {
	position: relative;
/*	height: 200px;*/
	margin-bottom: 20px;
	-webkit-perspective: 800;
}

.flip .card.flipped {
	-webkit-transform: rotatey(-180deg);
}

.flip .card {
	width: 100%;
	min-height: 320px;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: 0.5s;
}

.flip .card .face {
	position: absolute;
	z-index: 2;
	width: 100%;
	/*min-height: 200px;*/
/*	padding: 10px;*/
/*	border: 1px solid #666;*/
	cursor: pointer;
	-webkit-backface-visibility: hidden ;
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 1px 2px 1px #ccc;
}

.flip .card .front {
	position: absolute;
	z-index: 1;
}

.flip .card .back {
	-webkit-transform: rotatey(-180deg);
}

/* politic styles */
.profile_inner {
	background: url(../../../images/sprites/seperator_hairlines.png) repeat-x 0 bottom;
}

.profile_banner {
	height: 120px;
	overflow: hidden;
	background-size: 100%;
	background-position-y: 25%;
	border-radius: 2px 2px 0 0;
	border-bottom: 1px solid #666;
}

.profile_banner .sprite {
	width: 50px;
	float: right;
	margin-right: 5px;
	opacity: .5;
}

.profile_avatar {
	width: 60px;
	margin: -35px 2px 0px 10px;
}

.profile_avatar img {
	border: 1px solid #666;
	box-shadow: 2px -2px 2px rgba(128,128,128,.25);
}

.profile_detail, .state_card {
	padding: 10px;
	font-family: 'Quattrocento', Arial, sans-serif;
	letter-spacing: 0px;
}

.profile_detail h4, .profile_detail h4 a {
	margin-bottom: 3px;
	color: #666;
	font-family: 'Quattrocento', Arial, sans-serif;
	font-size: 18px;
	letter-spacing: 0px;
}

.profile_detail h5, .profile_detail h5 a {
	margin-top: 3px;
	color: #999;
	font-weight: normal
}

.profile_detail h4 a:hover, .profile_detail h5 a:hover {
	color: #000;
	text-decoration: none;
}

.profile_detail p {
	color: #66757f;
}

.profile_detail li {
	line-height: 18px;
}

/* social links */
.social_links {
	width: 100%;
	padding: 5px;
	background: transparent;
    border-radius: 0 0 2px 2px;
    text-align: center;
}

footer.social_links {
	background: rgba(200,200,200,.25);
}

.social_links a i {
	display: inline-block;
	width: 25px;	
	color: rgba(0,0,0,.5);
	font-size: 16px;
	text-align: center;
}

.social_links a i:hover {
	color: rgba(0,0,0,1);
}

.social_link a {
	color: rgba(0,0,0,.5);
	text-decoration: none;
	transition: color .2s ease;
}

.social_link a:hover {
	color: rgba(0,0,0,1);
}

.person-card .social_links {
	position: relative;
	display: block;
	width: 100%;
	background: none;
}
/* end social links */


#tweets {
	padding: 10px;
}

#tweets .created {
	margin-bottom: 0;
	color: #666;
	font-size: 11px;
	text-align: right;
}

.tweet {
	padding: 5px 0;
	border-bottom: 1px solid rgba(0,0,0,.25);
}

.tweet p {
	margin-bottom: 0;
	font-size: 12px;
	line-height: 16px;
}

.tweet:last-child {
	border-bottom: none;
}